{% extends "admin/layout.html" %}

{% block title %}{{ page_header }}{% endblock %}
{% block breadcrumb %}{% include 'admin/common/breadcrumbs.html' %}{% endblock %}
{% block page_header %}{{ page_header }}{% endblock %}
{% block page_header_help %}{{ page_header_help }}{% endblock %}

{% from "admin/common/form_macros.html" import input_field, select_field %}

{% block content %}
    <form method="POST" class="custom">
        <div class="card">
            <div class="card-body">
                <fieldset>
                    <legend class="text-success">
                        <strong>Реквизиты ключевого носителя</strong>
                    </legend>
                    <hr class="mt-0 mb-4">
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            {{ input_field("serial", "Ключевой носитель:", errors, serial, "Введите серийный номер") }}
                        </div>
                        <div class="col-lg-6">
                            {{ select_field("type_id", "Тип ключевого носителя:", carrier_types, errors, type_id) }}
                        </div>
                    </div>
                </div>
            </div>

            {% include 'admin/common/form_buttons.html' %}

        </fieldset>
    </form>
{% endblock %}
