{% extends "admin/layout.html" %}

{% block title %}{{ page_header }}{% endblock %}
{% block breadcrumb %}{% include 'admin/common/breadcrumbs.html' %}{% endblock %}
{% block page_header_text %}{{ page_header }}{% endblock %}
{% block page_header_help_text %}{{ page_header_help }}{% endblock %}

{% from "admin/common/form_macros.html" import input_field, date_field, select_field %}

{% block content %}

    <div class="col-3">
        <div class="justify-content-center align-items-center">
            <div class="card" style="border-radius: 15px;">
                <div class="card-header">
                    <h5 class="card-title m-0 me-2">Изымаемый (уничтожаемый) ключевой документ</h5>
                </div>
                <div class="card-body text-center">
                    <div>
                        <img src="{{ url_for('static', path='img/key.png') }}"/>
                        <h5 class="my-3">{{ key.serial }}</h5>
                        <p class="mb-1">Ключевой носитель</p>
                        <p class="mb-1"><span class="badge bg-primary">{{ key.key_carrier.serial }}</span></p>
                        <p class="mb-1">Тип ключевого носителя</p>
                        <p class="mb-1"><span class="badge bg-dark">{{ key.key_carrier.carrier_type }}</span></p>
                        <p class="mb-1">Владелец</p>
                        <p class="mb-1">
                            <a href="{{ url_for('detail_employee_admin', employee_id=key.owner_id) }}">
                                {{ key.owner }}
                            </a>
                        </p>
                        <p class="mb-1">Подключен к оборудованию</p>
                        <p><span class="badge bg-dark">{{ key.equipment_id }}</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-9">
        <form method="POST" class="custom  h-100">
            <div class="card" style="border-radius: 15px;">
                <div class="card-body">
                    <fieldset>
                        <legend class="text-success">Члены комиссии:</legend>
                        <div class="row mb-3">
                            <div class="col-lg-4">
                                {{ select_field("head_commision_member_id", "Председатель комиссии :", employees, errors, head_commision_member_id) }}
                            </div>
                            <div class="col-lg-4">
                                {{ select_field("commision_member_id", "Член комиссии :", employees, errors, commision_member_id) }}
                            </div>
                            <div class="col-lg-4">
                                {{ select_field("performer_id", "Администратор СКЗИ :", employees, errors, performer_id) }}
                            </div>
                        </div>
                        <legend class="text-success">Основание для вывода из эксплуатации</legend>
                        <div class="row mb-3">
                            <div class="col-lg-8">
                                {{ input_field("reason", "Основание для вывода из эксплуатации:", errors, reason, "Укажите причину вывода") }}
                            </div>
                            <div class="col-lg-4">
                                {{ date_field("reason_date", "Дата документа основания:", errors, reason_date) }}
                            </div>
                        </div>
                        <legend class="text-success">Вывод из эксплуатации</legend>
                        <div class="row mb-3">
                            <div class="col-lg-4">
                                {{ date_field("action_date", "Дата вывода из эксплуатации:", errors, action_date) }}
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>

            <div class="card mt-3 mb-4" style="border-radius: 15px;">
                <div class="card-body">
                    <button type="submit" class="btn btn-outline-danger me-2">
                        <i class="bi bi-file-earmark-minus"></i> Изъять ключевой документ
                    </button>
                    <a href="{{ request.headers.referer }}" class="btn btn-light">
                        <i class="bi bi-x-lg"></i> Отменить
                    </a>
                </div>
            </div>

        </form>
    </div>

{% endblock %}
